- entries.each do |entry|
  - if current_user?(entry.user)
    .entry-single.flex-wrapper.space-between{ id: entry.id }
      .entry-info
        - if entry.title.empty?
          - entry_title = "Untitled"
        - else
          - entry_title = entry.title
        %h1= entry_title

        - if entry.content.empty?
          - entry_content = "Empty"
        - else
          - entry_content = sanitize(ActionView::Base.full_sanitizer.sanitize(entry.content))
        %p= entry_content

      = link_to "", "#", class: "delete-entry dripicons-trash", onclick: "deleteEntry(event)"
