%div.tags-section
  = link_to "All", '#', :onclick => "sortByTag(event)"
  - current_user.entries.tag_counts_on(:tags).order("lower(tags.name)").each do |tag_name|
    = link_to tag_name, '#', :onclick => "sortByTag(event)"
